
body {
    background-color: rgb(255, 255, 255);
}

.navbox > div {
    margin-top: -124px;
    margin-left: -10px;
    height: 100px;
    width: 1538px;
    background-color: #ff9dce ;
    }

#logo { 
	position:fixed; 
	top:15px; 
	left:15px; 
} 

img {
    height: 80px;
    width: 80px;
}

h1 {
    color: rgb(0, 0, 0);
    margin-top: -74px;
    margin-left: 100px;
}

.discordbutton > button {
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;
    margin-top: -100px;
    margin-left: 92%;
    background-color: rgb(93, 0, 255);
}

button:hover {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    transition: 0.30s;

}

